<br />
<br />
<ng-container *ngIf="error">
  <div class="container w-75 mb-5 px-0">
    <div class="alert alert-danger" role="alert">
      <strong>An Error occurred</strong> {{ error }}
    </div>
  </div>
</ng-container>
<div class="container w-75 shadow rounded p-4">
  <div class="logo text-center">
    <h1>{{ "Logo" | uppercase }}</h1>
    <h4>
      {{ modeSwitch ? "Sign In" : ("Sign Up" | titlecase) }}
      <span class="text-primary">{{ "Logo" | titlecase }}</span>
    </h4>
  </div>
  <div class="login-google">
    <div class="or">
      <span>OR</span>
    </div>
    <div class="login w-50 mx-auto">
      <form [formGroup]="myRecForm" (ngSubmit)="onFormSubmit()">
        <div class="mb-3">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              aria-label="Username"
              aria-describedby="basic-addon1"
              formControlName="email"
            />
          </div>
          <small
            *ngIf="!recForm?.['email']?.valid && recForm?.['email']?.touched"
            class="text-danger"
          >
            Please enter your valid email!
          </small>
        </div>

        <div class="mb-3">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              aria-label="Username"
              aria-describedby="basic-addon1"
              formControlName="password"
            />
          </div>
          <small
            *ngIf="!recForm?.['password']?.valid && recForm?.['password']?.touched"
            class="text-danger"
          >
            Please enter your password min 6 length!
          </small>
        </div>

        <div class="signin-btn mb-3">
          <button class="btn btn-outline-primary w-100" type="submit">
            {{ modeSwitch ? "Sign In" : "Create Account" }}
          </button>
        </div>

        <div class="create">
          <h6>
            {{ modeSwitch ? "Do not have account?" : "Already have account?" }}
            <a (click)="onModeSwitch()">
              {{ modeSwitch ? "Create one" : "Sign In" }}
            </a>
            <br />
            <a> Forgot password</a>
          </h6>
        </div>
      </form>
    </div>

    <div class="google-facebook-create w-50 mx-auto">
      <div class="title mb-2 text-center">
        <h3>Go with Social!</h3>
        <h6>Get started with your Social accounts</h6>
      </div>

      <div class="google-facebook">
        <button class="google">
          <span><i class="fab fa-google"></i></span>
          <span> Sign In vai Google </span>
        </button>
        <br />
        <button class="facebook">
          <span><i class="fab fa-facebook-f"></i></span>
          <span> Sign In vai Google </span>
        </button>
      </div>
    </div>
  </div>
</div>
