<br />
<div class="container w-50 mx-auto p-4 border shadow rounded">
  <div>
    <h1 class="mx-0">{{ "Change Password" | titlecase }}</h1>
  </div>

  <hr />

  <ng-container *ngIf="changePass">
    <form [formGroup]="myRecForm" (ngSubmit)="myRecFormSubmit()">
      <div class="mb-4">
        <label class="h6" for="pass">Enter New Password:</label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter new password..."
          formControlName="password"
        />
        <small
          class="text-danger"
          *ngIf="!formPass.valid && formPass.touched && !formPass?.errors?.['minlength']"
        >
          Please enter your password!
        </small>
        <small
          class="text-danger"
          *ngIf="!formPass.valid && formPass.touched && formPass?.errors?.['minlength']"
        >
          Please enter password min 6 carecter!
        </small>
      </div>
      <div class="pass-sub">
        <button type="submit" class="btn btn-primary">Change Password</button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="!changePass">
    <div class="mt-5 p-4 bg-success text-dark bg-opacity-25 rounded">
      <div>
        <h3 class="text-success">Success!</h3>
        <h6 class="text-success">Password change successful.</h6>
      </div>
    </div>
  </ng-container>
</div>
